<h2>Bejelentkezés</h2>
<form class="col-sm-6">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text" class="form-control" name="username" placeholder="Felhasználónév">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" name="password" placeholder="Jelszó">
    </div>
    <br>
    <button (click)="login()" type="button" class="btn btn-primary">Bejelentkezés</button>
</form>