<h2>Új üzenet</h2>
<div>
    <div class="form-group">
        <label for="recipients">Címzettek:</label>
        <input [(ngModel)]="recipients" type="text" class="form-control" id="recipients">
    </div>
    <div class="form-group">
        <label for="title">Tárgy:</label>
        <input [(ngModel)]="title" type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
        <label for="body">Üzenet:</label>
        <textarea [(ngModel)]="body" class="form-control" rows="5" id="body"></textarea>
    </div>

    <div class="checkbox">
        <label><input [(ngModel)]="broadcast" type="checkbox">Broadcast</label>
    </div>
    <button (click)="send()" class="btn btn-primary">Küldés</button>
</div>